* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#about_bg,
#projects_bg,
#skills_bg,
#contact_bg   {
    background-color: lightgray;
}

/* Navbar / Home Page */

nav {
    height: 80px;
    background: grey;
    position: fixed;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
   display: inline-block;
   line-height: 80px;
   margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#ls {
    width: 400px;
}

.ls_container {
    text-align: center;
    padding-top: 200px;
}

.row {
  text-align: center;
  
}

.btn {
    font-family: 'lucida handwriting';
    text-align: center;
    height: 70px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px gray solid;
    border-radius: 50px;
    cursor: pointer;
}

textarea {
    font-family: 'lucida handwriting';
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 39px;
    width: 280px;
    border-radius: 50px;
}

/* About Me */

.about_me_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.loupic {
    width: 400px;
    border-radius: 100%;
    margin-top: 50px;
}

#about {
    padding-top: 90px;
    text-align: center;
    font-family: 'Lucida handwriting';
    font-size: 50px;
}

.about_text {
    text-align: center;
    padding-top: 90px;
    padding-left: 100px;
    line-height: 50px;
    font-family: 'lucida handwriting';
}

/* Projects */

#projects {
    padding-top: 90px;
    text-align: center;
    font-family: 'lucida handwriting';
    font-size: 50px;
    padding-bottom: 50px;
}

.projects_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    text-align: center;
}

.projects_container > div > img {
    width: 500px;
    height: 300px;
    border: 2px solid black;
}

.project_title {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'lucida handwriting';
}

.project_title2 {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 15px;
    font-family: 'lucida handwriting';
}

.project_text_container {
    padding: 22px;
}

#project_text {
    text-align: center;
    font-family: 'lucida handwriting';
    line-height: 50px;
    padding-bottom: 40px;
}

.project_text_container > p > span {
    font-weight: bold;
    font-size: 13px;
}

/* Skills */

#skills {
    padding-top: 90px;
    text-align: center;
    font-family: 'lucida handwriting';
    font-size: 50px;
    padding-bottom: 50px;
}

.skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    text-align: center;
}

.skills_container > div > img {
    width: 350px;
    height: 300px;
    border: 2px solid black;
}

.skills_title {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'lucida handwriting';
}

.skills_text_container {
    padding: 22px;
}

#skills_text {
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
    font-family: 'lucida handwriting';
    line-height: 50px;
    padding-bottom: 40px;
}

/* Contact Me */

#contact {
    padding-top: 90px;
    text-align: center;
    font-family: 'Lucida handwriting';
    font-size: 50px;
}

.contact_me_container {
    text-align: center;
    font-family: 'lucida handwriting';
    padding-top: 30px;
}

#email {
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.input {
    height: 20px;
    width: 200px;
}

#submit {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}


/* Media Queries */

/* Small Screens, Laptops */

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    
    /* Nav / Home Page */

    nav img {
        left: 6%;
        top: 10px;
        width: 130px;
    }

    nav ul li a {
        font-size: 15px;
    }

    /* About Me */

    #about {
        padding-top: 90px;
    }
    
    .about_text {
        line-height: 35px;
    }

    .loupic {
        width: 250px;
        margin-top: 120px;
    }

    /* Projects */

    .projects_container {
        display: block;
        text-align: center;
}
     /* Skills */

     .skills_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 20px;
        text-align: center;
}

    .skills_title {
        padding-top: 30px;
        padding-bottom: 4px;
        font-size: 15px;
}

    .skills_container > div > img {
        width: 220px;
        height: 220px;
        margin-left: -20px;
}

    #skills_text {
        padding: 0;
}
 }

/* Ipads / Tablets*/

 @media only screen and (max-width: 768px) and (min-width: 481px) {
    
    /* Nav / Home Page */

    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 80px;
        left: -100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }

    /* About Me */

    #about {
        padding-top: 90px;
    }

    .about_text {
        font-size: 15px;
        text-align: center;
        line-height: 25px;
        margin-left: -50px;
        padding-top: 80px;
        padding-right: 10px;
    }

    .loupic {
        width: 200px;
        margin-top: 100px;
    }

    /* Projects */

    .projects_container {
        display: block;
        text-align: center;
        }
        
    .project_title {
        padding-top: 30px;
        padding-bottom: 4px;
        font-size: 15px;
        }

    .projects_container > div > img {
        width: 380px;
        height: 250px;
        }

     /* Skills */

    .skills_container {
        display: block;
        text-align: center;
}

    .skills_title {
        padding-top: 30px;
        padding-bottom: 4px;
        font-size: 15px;
}

    .skills_container > div > img {
        width: 280px;
        height: 250px;
        margin-left: -20px;
}

    #skills_text {
        padding: 0;
}
 }

 /* Mobile Phones*/

 @media only screen and (max-width: 480px) and (min-width: 0px) {
    
    /* Nav / Home Page */
    
    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }

    /* About Me */

    #about {
        padding-top: 90px;
        font-size: 40px;
    }

    .about_text {
        font-size: 15px;
        text-align: center;
        line-height: 25px;
        margin-left: -90px;
        padding-top: 20px;
        min-width: 200px;
        max-width: 200px;
    }

    .loupic {
        width: 200px;
        margin-top: 100px;
    }

    /* Projects */
    
    #projects {
        padding-top: 90px;
        font-size: 40px;
    }

    .projects_container {
        display: block;
        text-align: center;
    }

    .project_title {
        padding-top: 30px;
        padding-bottom: 4px;
        font-size: 15px;
    }

    .projects_container > div > img {
        width: 280px;
        height: 150px;
        margin-left: -20px;
    }

    /* Skills */

    #skills {
        padding-top: 90px;
        font-size: 40px;
    }

    .skills_container {
        display: block;
        text-align: center;
    }

    .skills_title {
        padding-top: 30px;
        padding-bottom: 4px;
        font-size: 15px;
    }

    .skills_container > div > img {
        width: 180px;
        height: 150px;
        margin-left: -20px;
    }

    #skills_text {
        padding: 0;
    }

    /* Contact Me */

    #contact {
        padding-top: 90px;
        font-size: 40px;
    }
}